<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/behru/IdeaProjects/RestAssuredB12">
        <classes>
            <class name="goRest.GoRestPostTests"/>
            <class name="goRest.GoRestUserTests">
            </class>
        </classes>
    </test>
</suite>